:host {
    height: 100%;
}

.lobby-container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.top-bar {
    background-color: aqua;
    grid-column: 1;
    grid-column-end: span 3;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}

.user-list {
    background-color: rgba(199, 210, 211, 0.514);
    grid-column: 1;
    grid-row: 2;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.user-list>ul {
    list-style: none;
    padding: 0;
}

.user {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    margin: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding-left: 2px;
}

.user>div {
    display: flex;
    font-size: 12;
}

.offline-user {
    background-color: rgba(139, 0, 0, 0.3);
}

.online-user {
    background-color: rgba(0, 100, 0, 0.3);
}

.game-container {
    background-color: rgba(217, 213, 221, 0.698);
    grid-column: 2;
    grid-row: 2;
}

.game-container-hide {
    width: 0%;
}

.game-container-show {
    width: 100%;
}

.chat-container {
    background-color: rgba(200, 175, 175, 0.3);
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    grid-column: 3;
    grid-row: 2;
}