:host {
    height: 100%;
}

.lobby-container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.top-bar {
    background-color: aqua;
    grid-column: 1;
    grid-column-end: span 3;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}

.user-list {
    background-color: cadetblue;
    grid-column: 1;
    grid-row: 2;
}

.game-container {
    background-color: blueviolet;
    grid-column: 2;
    grid-row: 2;
}

.game-container-hide {
    width: 0%;
}

.game-container-show {
    width: 100%;
}

.chat-container {
    background-color: brown;
    grid-column: 3;
    grid-row: 2;
}