<div class="lobby-container">
    <div class="top-bar">
        <h3>Hello {{currentUser}}!</h3>
        <button (click)="routeToSettings()">Settings</button>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="user-list">
        <ul>
            <li *ngFor="let chatter of connected(chatters)" [ngStyle]="{'color':'green'}">
                <button (click)="openChat(chatter)">{{chatter.name}}</button>
            </li>
        </ul>
        <ul>
            <li *ngFor="let chatter of disconnected(chatters)" [ngStyle]="{'color':'red'}">
                <button (click)="openChat(chatter)"> {{chatter.name}}</button> {{chatter.lastSeen | date:'H:mm'}}
            </li>
        </ul>
    </div>
    <div class="game-container">
        <app-board></app-board>
    </div>
    <div class="chat-container">
        <app-chat *ngIf="currentChat" [chatWith]="currentChat" [currentUserId]="currentId"></app-chat>
    </div>
</div>