.userdiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.chatterdiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.user {
    background-color: greenyellow;
    border: gray 1px solid;
    border-radius: 2px;
    padding: 5px;
}

.chatter {
    align-self: flex-end;
    background-color: ivory;
    border: gray 1px solid;
    border-radius: 2px;
    padding: 5px;
}